.label {
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: .2em;
	margin-top: 0px;
	float: right;
	&a {
		color: white !important;
		text-decoration: none !important;
	}
}

.label-yellow {
	&a {
		color: #44434d !important;
		text-decoration: none !important;
	}
}

.block {
	padding: 1em;
  	border: 1px solid gray;
	margin-bottom: .5em;
	border-radius: .5em;
}

h4, h5 {
	font-weight: 700;
}

th {
	min-width: 0px;
}