.label {
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: .2em;
	margin-top: 0px;
	float: right;
}

.label a {
	color: $white;
	text-decoration: none;
}

.label.label-yellow a {
	color: $grey-dk-200;
	text-decoration: none;
}

.block {
	padding: 1em;
  	border: 1px solid gray;
	margin-bottom: .5em;
	border-radius: .5em;
}

h4, h5 {
	font-weight: 700;
}

th {
	min-width: 0px;
}

td {
	min-width: 0px;
}

.filter {
	border-radius: .5em;
	padding: 1em;
	border: 1px solid gray;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: .5em;
}